<div class="container">
  <div class="row">
    <h4 class="cyan-text text-darken-2"><b>Projetos</b></h4>
    <a class="waves-effect waves-light btn modal-trigger" href="#create"><i class="material-icons left">add</i>Novo
      Projeto</a>
  </div>

  <div class="divider cyan darken-2"></div>
  <br>
  <ul class="collapsible popout">
    <li *ngFor="let item of projetos | async">
      <a (click)="findOne(item.id, 'delete')" style="margin-bottom: 0px"
        class="buttons-projetos btn-floating btn-small waves-effect waves-light red right modal-trigger"
        href="#delete"><i class="material-icons">delete_forever</i></a>
      <a (click)="findOne(item.id, 'edit')"
        class="buttons-projetos btn-floating btn-small waves-effect waves-light blue right modal-trigger"
        href="#edit"><i class="material-icons">edit</i></a>
      <div class="collapsible-header">{{item.titulo}}</div>
      <div class="grey lighten-4 collapsible-body">
        <div class="card">
          <div class="card-content gray-text">
            <img *ngIf="item.img" style="max-height:200px" src="{{item.img}}" alt=""
              class="center circle responsive-img">
            <p><b class="light-blue-text text-accent-4">Descrição:</b> {{item.descricao}}</p>
            <p><b class="light-blue-text text-accent-4">URL do Projeto: </b><a target="_blank"
                href="{{item.url}}">Acesse</a></p>
          </div>
        </div>
        <div class="card">
          <div class="card-content gray-text">
            <span align="center" class="card-title">Categorização do Projeto</span>
            <div class="divider"></div>
            <p><b class="light-blue-text text-accent-4">Área:</b> {{item.categorizacao?.area}}</p>
            <p><b class="light-blue-text text-accent-4">Status:</b> {{item.categorizacao?.status}}</p>
            <p><b class="light-blue-text text-accent-4">Coordenador:</b> {{item.categorizacao?.coordenador.nome}}</p>
            <p><b class="light-blue-text text-accent-4">Contato Coordenador:</b>
              {{item.categorizacao?.coordenador.telefone}}
              - {{item.categorizacao?.coordenador.email}}</p>
            <ul class="collection">
              <li class="collection-header light-blue-text text-accent-4">
                <p><b>Equipe:</b></p>
              </li>
              <li class="collection-item" *ngFor="let membro of item.membros">{{membro}}</li>
            </ul>
            <p><b class="light-blue-text text-accent-4">Finalidade:</b> {{item.categorizacao?.finalidade}}</p>
            <p><b class="light-blue-text text-accent-4">Financiamento:</b> {{item.categorizacao?.financiamento}}</p>
          </div>
        </div>
        <div class="card">
          <div class="card-content gray-text">
            <span align="center" class="card-title">Contexto de Aplicação</span>
            <div class="divider"></div>
            <ul class="collection">
              <li class="collection-header light-blue-text text-accent-4">
                <p><b>Contexto Corporativo:</b></p>
              </li>
              <li class="collection-item" *ngFor="let contexto of item.contexto?.contexto">{{contexto}}</li>
            </ul>
            <p><b class="light-blue-text text-accent-4">Métodos e Ferramentas:</b> {{item.contexto?.quesitos}}
            </p>
            <ul class="collection">
              <li class="collection-header light-blue-text text-accent-4">
                <p><b>Contratação:</b></p>
              </li>
              <li class="collection-item" *ngFor="let contrato of item.contexto?.contratacao">{{contrato}}</li>
            </ul>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<!-- Modal Create -->
<div id="create" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Criar Novo Projeto</h4>
    <form id="myForm" (keyup.enter)="createProjeto(projeto)" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input [(ngModel)]="projeto.titulo" id="titulo" type="text" class="validate" name="titulo" required=""
            aria-required="true">
          <label for="titulo">Nome do Projeto</label>
        </div>
        <div class="input-field col s12">
          <textarea [(ngModel)]="projeto.descricao" id="descricao" class="materialize-textarea validate"
            name="descricao" required="" aria-required="true"></textarea>
          <label for="descricao">Descrição do Projeto</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <select id="status" [(ngModel)]="projeto.categorizacao.status" name="status">
            <option value="" disabled selected>Status do Projeto</option>
            <option value="Em andamento">Em andamento</option>
            <option value="Concluído">Concluído</option>
            <option value="Suspenso">Suspenso</option>
          </select>
        </div>
        <div class="input-field col s6">
          <select [(ngModel)]="projeto.categorizacao.area" name="area">
            <option value="" disabled selected>Área do Projeto</option>
            <option value="Agronegócio">Agronegócio</option>
            <option value="Educação">Educação</option>
            <option value="Engenharia">Engenharia</option>
            <option value="Informática">Informática</option>
            <option value="Logística">Logística</option>
            <option value="Meio Ambiente">Meio Ambiente</option>
            <option value="Saúde">Saúde</option>
            <option value="Corporativo">Corporativo</option>
            <option value="Outros">Outros</option>
          </select>
        </div>
        <div class="input-field col s6">
          <select [(ngModel)]="projeto.categorizacao.finalidade" name="finalidade">
            <option value="" disabled selected>Finalidade do Projeto</option>
            <option value="Pesquisa">Pesquisa</option>
            <option value="Extensão">Extensão</option>
            <option value="Desenvolvimento Institucional">Desenvolvimento Institucional</option>
            <option value="Desenvolvimento Organizacional">Desenvolvimento Organizacional</option>
          </select>
        </div>
        <div class="input-field col s6">
          <select [(ngModel)]="projeto.categorizacao.financiamento" name="financiamento" multiple>
            <option value="Auto-Financiado" disabled selected>Financiamento do Projeto</option>
            <option value="Auto-Financiado">Auto-Financiado</option>
            <option value="Financiado pela UFG">Financiado pela UFG</option>
            <option value="Financiamento Externo">Financiamento Externo</option>
          </select>
        </div>
      </div>
      <div class="row">

        <div class="input-field col s12">
          <input [(ngModel)]="projeto.categorizacao.coordenador.nome" id="coordenador" type="text" class="validate"
            name="coordenador">
          <label for="coordenador">Coordenador do Projeto</label>
        </div>
        <div class="input-field col s6">
          <input [(ngModel)]="projeto.categorizacao.coordenador.telefone" id="telefone" type="text" class="validate"
            name="telefone">
          <label for="telefone">Telefone do Coordenador</label>
        </div>
        <div class="input-field col s6">
          <input [(ngModel)]="projeto.categorizacao.coordenador.email" id="email" type="text" class="validate"
            name="email">
          <label for="email">Email do Coordenador</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea [(ngModel)]="projeto.categorizacao.membros" id="membros" class="materialize-textarea validate"
            name="membros" required="" aria-required="true"></textarea>
          <label for="membros">Membros do Projeto</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea [(ngModel)]="projeto.contexto.contexto" id="contexto" class="materialize-textarea validate"
            name="contexto" required="" aria-required="true"></textarea>
          <label for="contexto">Contexto Corporativo do Projeto</label>
        </div>
        <div class="input-field col s12">
          <textarea [(ngModel)]="projeto.contexto.quesitos" id="quesitos" class="materialize-textarea validate"
            name="quesitos" required="" aria-required="true"></textarea>
          <label for="quesitos">Métodos e Ferramentas do Projeto</label>
        </div>
        <div class="input-field col s12">
          <textarea [(ngModel)]="projeto.contexto.contratacao" id="contratacao" class="materialize-textarea validate"
            name="contratacao" required="" aria-required="true"></textarea>
          <label for="contratacao">Contratação do Projeto</label>
        </div>
        <div class="input-field col s12">
          <input [(ngModel)]="projeto.url" id="url" type="text" class="validate" name="url">
          <label for="url">URL do Projeto</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="file-field input-field">
            <div class="btn">
              <span>Imagem do projeto</span>
              <input type="file" (change)="chooseFiles($event)">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a style="margin-right:20px" class="waves-effect waves-light btn red modal-close">Cancelar</a>
    <a class="waves-effect waves-light btn green" (click)="createProjeto(projeto)">Criar</a>
  </div>
</div>

<!-- Modal Edit -->
<div id="edit" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Editar Projeto</h4>
    <div class="divider"></div>
    <form (keyup.enter)="editarProjeto(findOneId.id)" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input [(ngModel)]="findOneId.titulo" id="titulo" type="text" class="validate" name="titulo" required=""
            aria-required="true">
          <label class="active" for="titulo">Nome do Projeto</label>
        </div>
        <div class="input-field col s12">
          <textarea [(ngModel)]="findOneId.descricao" id="descricao" class="materialize-textarea validate"
            name="descricao" required="" aria-required="true"></textarea>
          <label class="active" for="descricao">Descrição do Projeto</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <select id="status" [(ngModel)]="findOneId.categorizacao.status" name="status">
            <option value="" disabled selected>Status do Projeto</option>
            <option value="Em andamento">Em andamento</option>
            <option value="Concluído">Concluído</option>
            <option value="Suspenso">Suspenso</option>
          </select>
        </div>
        <div class="input-field col s6">
          <select [(ngModel)]="findOneId.categorizacao.area" name="area">
            <option value="" disabled selected>Área do Projeto</option>
            <option value="Agronegócio">Agronegócio</option>
            <option value="Educação">Educação</option>
            <option value="Engenharia">Engenharia</option>
            <option value="Informática">Informática</option>
            <option value="Logística">Logística</option>
            <option value="Meio Ambiente">Meio Ambiente</option>
            <option value="Saúde">Saúde</option>
            <option value="Corporativo">Corporativo</option>
            <option value="Outros">Outros</option>
          </select>
        </div>
        <div class="input-field col s6">
          <select [(ngModel)]="findOneId.categorizacao.finalidade" name="finalidade">
            <option value="" disabled selected>Finalidade do Projeto</option>
            <option value="Pesquisa">Pesquisa</option>
            <option value="Extensão">Extensão</option>
            <option value="Desenvolvimento Institucional">Desenvolvimento Institucional</option>
            <option value="Desenvolvimento Organizacional">Desenvolvimento Organizacional</option>
          </select>
        </div>
        <div class="input-field col s6">
          <select [(ngModel)]="findOneId.categorizacao.financiamento" name="financiamento" multiple>
            <option value="Auto-Financiado" disabled selected>Financiamento do Projeto</option>
            <option value="Auto-Financiado">Auto-Financiado</option>
            <option value="Financiado pela UFG">Financiado pela UFG</option>
            <option value="Financiamento Externo">Financiamento Externo</option>
          </select>
        </div>
      </div>
      <div class="row">

        <div class="input-field col s12">
          <input [(ngModel)]="findOneId.categorizacao.coordenador.nome" id="coordenador" type="text" class="validate"
            name="coordenador">
          <label class="active" for="coordenador">Coordenador do Projeto</label>
        </div>
        <div class="input-field col s6">
          <input [(ngModel)]="findOneId.categorizacao.coordenador.telefone" id="telefone" type="text" class="validate"
            name="telefone">
          <label class="active" for="telefone">Telefone do Coordenador</label>
        </div>
        <div class="input-field col s6">
          <input [(ngModel)]="findOneId.categorizacao.coordenador.email" id="email" type="text" class="validate"
            name="email">
          <label class="active" for="email">Email do Coordenador</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea [(ngModel)]="findOneId.categorizacao.membros" id="membros" class="materialize-textarea validate"
            name="membros" required="" aria-required="true"></textarea>
          <label class="active" for="membros">Membros do Projeto</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea [(ngModel)]="findOneId.contexto.contexto" id="contexto" class="materialize-textarea validate"
            name="contexto" required="" aria-required="true"></textarea>
          <label class="active" for="contexto">Contexto Corporativo do Projeto</label>
        </div>
        <div class="input-field col s12">
          <textarea [(ngModel)]="findOneId.contexto.quesitos" id="quesitos" class="materialize-textarea validate"
            name="quesitos" required="" aria-required="true"></textarea>
          <label class="active" for="quesitos">Métodos e Ferramentas do Projeto</label>
        </div>
        <div class="input-field col s12">
          <textarea [(ngModel)]="findOneId.contexto.contratacao" id="contratacao" class="materialize-textarea validate"
            name="contratacao" required="" aria-required="true"></textarea>
          <label class="active" for="contratacao">Contratação do Projeto</label>
        </div>
        <div class="input-field col s12">
          <input [(ngModel)]="findOneId.url" id="url" type="text" class="validate" name="url">
          <label class="active" for="url">URL do Projeto</label>
        </div>
      </div>
      <div *ngIf="findOneId.img" class="row">
        <div class="col s12">
          <img style="max-height:100px" src="{{findOneId.img}}" alt="" class="circle responsive-img">
          <p>
            <label>
              <input name="check" [(ngModel)]="check" type="checkbox" class="filled-in" />
              <span>Deixar o projeto sem qualquer imagem</span>
            </label>
          </p>
        </div>
      </div>
      <div *ngIf="!check" class="row">
        <div class="col s12">
          <div class="file-field input-field">
            <div class="btn">
              <span>Editar a imagem do projeto</span>
              <input type="file" (change)="chooseFiles($event)">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a style="margin-right:20px" class="waves-effect waves-light btn red modal-close">Cancelar</a>
    <a class="waves-effect waves-light btn green" (click)="editarProjeto(findOneId.id)">Editar</a>
  </div>
</div>

<!-- Modal Delete -->
<div id="delete" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Deletar Projeto</h4>
    <div class="divider"></div>
    <div>
      <p><b class="light-blue-text text-accent-4">Título:</b> {{findOneId.titulo}}</p>
      <p><b class="light-blue-text text-accent-4">URL:</b> {{findOneId.url}}</p>
      <p><b class="light-blue-text text-accent-4">Descrição:</b> {{findOneId.descricao}}</p>
      <p><b class="light-blue-text text-accent-4">Área:</b> {{findOneId.categorizacao?.area}}</p>
      <p><b class="light-blue-text text-accent-4">Status:</b> {{findOneId.categorizacao?.status}}</p>
      <p><b class="light-blue-text text-accent-4">Coordenador:</b> {{findOneId?.categorizacao?.coordenador.nome}}</p>
      <p><b class="light-blue-text text-accent-4">Contato Coordenador:</b>
        {{findOneId?.categorizacao?.coordenador.telefone}} -
        {{findOneId?.categorizacao?.coordenador.email}}</p>
      <p><b class="light-blue-text text-accent-4">Equipe:</b> {{findOneId.categorizacao?.membros}}</p>
      <p><b class="light-blue-text text-accent-4">Finalidade:</b> {{findOneId.categorizacao?.finalidade}}</p>
      <p><b class="light-blue-text text-accent-4">Aporte:</b> {{findOneId.categorizacao?.financiamento}}</p>
      <p><b class="light-blue-text text-accent-4">Contexto Corporativo:</b> {{findOneId.contexto?.contexto}}</p>
      <p><b class="light-blue-text text-accent-4">Quesitos Básicos:</b> {{findOneId.contexto?.quesitos}}</p>
      <p><b class="light-blue-text text-accent-4">Contratação:</b> {{findOneId.contexto?.contratacao}}</p>
    </div>

  </div>
  <div class="modal-footer" align="center">
    Deseja realmente excluir este projeto?
    <a style="margin-left:40px; margin-right:40px" class="waves-effect waves-light btn red modal-close">Cancelar</a>
    <a style="margin-right:20px" (click)="deletarProjeto(findOneId.id, findOneId.titulo)"
      class="waves-effect waves-light btn green">Deletar</a>
  </div>
</div>