<br>
<ul class="collapsible popout">
  <li *ngFor="let item of projetos | async">
    <div class="collapsible-header">{{item.titulo}}</div>
    <div class="collapsible-body">
      <p><b class="light-blue-text text-accent-4">Área:</b> {{item.area}}</p>
      <p><b class="light-blue-text text-accent-4">Status:</b> {{item.status}}</p>
      <p><b class="light-blue-text text-accent-4">Coordenador:</b> {{item.equipe.coordenador}}</p>
      <p><b class="light-blue-text text-accent-4">Equipe:</b> {{item.equipe.membros}}</p>
      <p><b class="light-blue-text text-accent-4">Finalidade:</b> {{item.finalidade}}</p>
      <p><b class="light-blue-text text-accent-4">Aporte:</b> {{item.financiamento}}</p>
      <p><b class="light-blue-text text-accent-4">Aplicabilidade:</b> {{item.aplicabilidade.contexto}}</p>
    </div>
  </li>
</ul>